* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.car-container {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.car-container:hover {
  transform: scale(1.05);
}

.car-thumbnail {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.car-thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.car-thumbnail .back-img {
  opacity: 0;
}

.car-thumbnail:hover .back-img {
  opacity: 1;
}

.car-thumbnail:hover .front-img {
  opacity: 0;
}

.car-details {
  padding: 15px;
  text-align: center;
}

.car-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.car-details p {
  margin-bottom: 5px;
  color: #555;
}
